/* This is all of the header */
nav {
    background-color: goldenrod;
    border: solid green 5px;
    display: flex;
    justify-content: flex-end;
    
    li {
        display: inline;
        padding-left: 10px;
        padding-right: 20px;
    }
}

/* This is all of the main content from the middle */
main {
    background-color: burlywood;
    Border: solid rgba(2, 91, 244, 0.9) 5px;
    display: inline-flex;
    flex-direction: row;

    h1 {
        text-align: center;
    }

    img {
        position: relative;
        height: 350px;
        width: auto;
        border: solid white 5px;
    }

    section {
        padding-left: 15px;
        flex-direction: column;
    }

    @media (max-width: 500px) {
        flex-direction: column;

        img {
            padding-left: 60px;
            padding-right: 60px;
        }
    }
}

#portfolio {
    border: solid black 20px;
    width: 300px;
    height: auto;
}