#dark {

    /* This is all of the header */
    nav {
        background-color: rgba(23, 23, 23, 0.987);
        border: solid rgb(255, 255, 255) 5px;
        display: flex;
        justify-content: space-between;

        a {
            color: white;
        }

        label {
            display: flex;
            padding-left: 20px;
        }

        li {
            display: inline;
            padding-left: 10px;
            padding-right: 20px;
        }
    }

    /* Big Box */
    main {
        border: solid rgb(246, 246, 246) 5px;
        display: flex;
        background-color: rgba(0, 0, 0, 0.726);
        color: white;
        height: 800px;

        @media (max-width: 700px) {
            flex-direction: column;
        }

        /* Circle */
        section {
            background-color: rgb(15, 14, 14);
            border: solid rgb(245, 240, 240) 5px;
            height: 400px;
            width: 400px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: center;
        }

        /* Square on the right */
        div {
            border: solid black 5px;
            flex: auto;
            flex-direction: column;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        li {
            list-style-type: none;
        }
    }

    /* This is the footer */
    footer {
        background-color: rgba(27, 25, 25, 0.913);
        height: 100px;
        border-bottom: white solid 5px;
        border-left: white solid 5px;
        border-right: white solid 5px;
    }
}